{% extends "base.html"%}
{% block title %}Index Panty Route{%endblock%}

{% block content %}

    <main class="container" style="text-align: center">
      <h1>ROUTE = <code>index.html</code></h1>
      <p>
        Note the values below are dynamically passed from the flask app, it is
        terminal green bg
      </p>
      <article>
        <p class="terminal-green">myResult: {{ myResult }}</p>
        <p class="terminal-green">myValue: {{ myValue }}</p>
        <p class="terminal-green">myList: {{ mylist }}</p>
      </article>
      <button onclick="window.open('https://tinyurl.com/2usd6fpd', '_blank')">
        BootySmell
      </button>

      <div>
        <article>
          <p><strong>Ordered List</strong></p>
          <p>The list items in your list termed <code>mylist</code></p>
          <ul>
            {% for item in mylist %}
            <li class="terminal-green">{{ item }}</li>
            {% endfor %}
          </ul>
        </article>

      <div>
        <article>
          <p><strong>Ordered List With Conditions</strong></p>
          <p>The list items in your list termed <code>mylist2</code></p>
          <ul>
            {% for item in mylist2 %}
              {% if item <= 20 %}
              <li class="terminal-red">{{ item }}</li>
              {% endif %}
              <li class="terminal-green">{{ item }}</li>
            {% endfor %}
          </ul>
        </article>
      </div>
      <!-- Below are tags for the main body, everything must be above -->

{% endblock %}