{% extends "base.html" %} {% block title %}JS Sending{% endblock %} {% block
content%}

<div style="text-align: center">
  <h1>ROUTE = <code>js.html</code></h1>

  <p class="terminal-green">
    This page is for sending JSON data via button clicks.
  </p>

  <div>
    <article style="display: inline-block; width: auto; text-align: center">
      <h3 style="color: oklch(76.8% 0.233 130.85)">Button Fo Sending JS</h3>
      <button id="post_button" class="outline">Send Post Request</button>
    </article>
  </div>

  <button onclick="window.open('https://tinyurl.com/2usd6fpd', '_blank')">
    BootySmell
  </button>
</div>

{# JS for the button click event #}

<script type="text/javascript">
  const postButton = document.getElementById('post_button')

  const jsonData = {
    name: 'PussyLicker',
    greeting: 'Smell Panty',
  }

  postButton.addEventListener('click', () => {
    fetch('{{ url_for("jsa.handle_post") }}', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json; charset=utf-8',
      },
      body: JSON.stringify(jsonData),
    })
      .then((response) => response.json())
      .then((data) => console.log('Success:', data))
      .catch((error) => {
        console.error('Error:', error)
      })
  })
</script>

{% endblock %}
