{% extends "base.html" %} {% block title %}sesh.html{% endblock %} {% block
content %}
<div style="text-align: center">
  <h1>ROUTE = <code>sesh.html</code></h1>

  <p class="terminal-green">
    Note the values below are dynamically passed from the flask app
  </p>

  <div class="container-fluid">
    <div class="grid">
      <article>
        <h2>Setting Session Variables</h2>
        <p>{{ message }}</p>
        <a href="{{ url_for('sesh.set_data') }}" role="button" class="outline"
          >Set Session Data From Href</a
        >
      </article>

      <article>
        <h2>Getting Session Variables</h2>
        <p>{{ message }}</p>
        <a href="{{ url_for('sesh.get_data') }}" role="button" class="outline"
          >Get Session Data</a
        >
      </article>

      <article>
        <h2>Current Session Data:</h2>
        <p>Name: {{ session.get('name', 'Not set') }}</p>
        <p>Fetish: {{ session.get('Fetish', 'Not set') }}</p>
      </article>

      <article>
        <h2>Clear Session</h2>
        <p>{{ message }}</p>
        <a
          href="{{ url_for('sesh.clear_session') }}"
          role="button"
          class="outline"
          >Clear Session</a
        >
      </article>
    </div>
  </div>

  <button onclick="window.open('https://tinyurl.com/2usd6fpd', '_blank')">
    BootySmell
  </button>
</div>
{% endblock %}
